body {
  font-family: "Helvetica";
  margin: 0;
  padding: 0;
  top: 0;
}

.page {
  background-image: url('../img/coffee.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100%;
}

.title {
  color: #FAFAFA;
  display: flex;
  justify-content: center;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social img {
  padding-right: 30px;
}
